---
import Layout from '../layouts/Layout.astro';
import { getVenuesGroupedByNeighborhood } from '../lib/sanity';

const neighborhoodsWithVenues = await getVenuesGroupedByNeighborhood();

// Filter out neighborhoods with no venues that have current events
const filteredNeighborhoods = neighborhoodsWithVenues.filter(neighborhood => 
  neighborhood.venues.some(venue => venue.events.length > 0)
);

function formatDate(date: string) {
  return new Date(date).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
}

function eventLink(venue, event) {
  return event.website || venue.website;
}
---

<Layout title="Filterizer">
    
    {filteredNeighborhoods.map((neighborhood) => (
      <section key={neighborhood._id}>
        <h4 class="neighborhood">{neighborhood.name}</h4>
        {neighborhood.venues
            .filter(venue => venue.events.length > 0)
            .map((venue) => (
              <div class="bg-white rounded-lg shadow-md p-6" key={venue._id}>
                <h4 class="venue">{venue.name}</h4>
                <p class="address">{venue.address}</p>

                {venue.events.map((event) => (
                  <li key={event._id}>
                    <span class="title"><a href={eventLink(venue, event)}">{event.name}</a></span> closes {formatDate(event.endDate)}
                  </li>
                  ))}

              </div>
            ))
            }
      </section>
    ))}
</Layout>

